@{
    ViewData["Title"] = "Home Page";
}
@model WebApplication1.Models.HomeModel;

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@Model.Message</p>
    <form asp-action="Index" method="post">
    <label for="Name">Name</label>
    <input type="text" name="Name" /><br>
    
    <label for="Password">Password</label>
        <input type="text" name="Password" /><br>
    <input type="submit" name="submit"/>
    </form>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">@ViewBag.Message</div>
    }
</div>
